attrs==18.2.0
autopep8==1.4.3
certifi==2018.10.15
chardet==3.0.4
flatlib==0.2.1
idna==2.7
numpy==1.15.4
pandas==0.23.4
pathlib-mate==0.0.14
pycodestyle==2.4.0
pyswisseph==2.0.0.post2
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.1
six==1.11.0
SQLAlchemy==1.2.14
urllib3==1.24.1
uszipcode==0.2.2
